@{
    ViewBag.Title = "Purchase List";
}

<head>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

    <script>
        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }

        function sync_handler(e) {
            this.read();
        }

         $(function () {
             $("#close").click(function () {
                 window.history.back();
                @*window.open('@Url.Action("SalesByCus", "Sales", new { id = ViewBag.CusId })', "_self");*@
             });

             $("#cusservice").click(function () {
                 window.open('@Url.Action("SalesByCus", "Sales", new { id = ViewBag.CusId })', "_self");
             });
        });

        // --- collapse all group grid ---
        var collapseAllGroups = function (grid) {
            grid.table.find(".k-grouping-row").each(function () {
                grid.collapseGroup(this);
            });
        }

        //On the grid
        function dataBound() {
            collapseAllGroups(this);
        }
    </script>
    }
</head>

<div class="page-content">
    <table style="width:100%">
        <tr>
            <td>
                <h2 class="pagetitle">Sales History</h2>
            </td>
            <td align="right" style="width:350px">
                <input type="button" value="GO SERVICE" class="btn btn-default" id="cusservice" style="width:110px" />
                <input type="button" value="BACK" class="btn btn-default" id="close" style="width:110px" />
            </td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
            <td style="width:100px; padding:10px" align="left">
                <img src="@Url.Content("~/Images/Customer/" + ViewData["CusImagePath"])" width="90" height="100" alt="" onerror="this.src='@Url.Content("~/Images/Employee/user.png")'" />
            </td>
            <td style="padding:10px" align="left">
                <h3><strong>@ViewData["CusFullName"]</strong></h3>
                <div><strong>Card No. </strong>@ViewData["CusCardNo"]</div>
                <div><strong>Contact No. </strong> @ViewData["CusContactNo"]</div>
            </td>
        </tr>
    </table>

    @*// Product BackOrder *@
    <div class="row">
        <div class="col-md-12" style="padding-bottom:15px">
            <div class="sub-content">
                <div class="bar-title"><span>BACK ORDER</span></div>
                <hr style="height:1px;border-width:0;color:gray;background-color:gray; margin:0px">
                <br />
                <table style="width:100%">
                    <tr>
                        <td>
                            @Html.Action("BackOrder", "BackOrder", new { cusId = ViewBag.CusId })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*// Product Purchase *@
    <div class="row">
        <div class="col-md-12" style="padding-bottom:15px">
            <div class="sub-content">
                <div class="bar-title"><span>PRODUCT PURCAHSED</span></div>
                <hr style="height:1px;border-width:0;color:gray;background-color:gray; margin:0px">
                <br />
                <table style="width:100%">
                    <tr>
                        <td>
                            @Html.Action("ProductHistory", "Sales", new { cusId = ViewBag.CusId })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*// Product FOC/Salon *@
    <div class="row">
        <div class="col-md-12" style="padding-bottom:15px">
            <div class="sub-content">
                <div class="bar-title"><span>PRODUCT FOC</span></div>
                <hr style="height:1px;border-width:0;color:gray;background-color:gray; margin:0px">
                <br />
                <table style="width:100%">
                    <tr>
                        <td>
                            @Html.Action("_SearchFoc", "Stock", new { searchContent = ViewBag.CusId })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding-bottom:15px">
            <div class="sub-content">
                <div class="bar-title"><span>ALL INVOICE</span></div>
                <hr style="height:1px;border-width:0;color:gray;background-color:gray; margin:0px">
                <br />
                <table style="width:100%">
                    <tr>
                        <td>
                            @(Html.Kendo().Grid<Meo.Web.ViewModels.SalesViewModels>()
        .Name("GridForSales")
        .HtmlAttributes(new { style = "100%" })
        .Columns(columns =>
        {
            columns.Bound(c => c.SalesId).Title("Invoice No")
            .ClientTemplate("# if (GIRO == true) { #" + "<a href='" + @Url.Action("GIROReceipt", "GIROs", new { salesid = "#=SalesId#" }) + "' ><span class='k-button k-button-icontext k-grid-edit'>#=SalesId#</span></a>" +
            "# } else { #" + "<a href='" + @Url.Action("PreviewINV", "Sales", new { salesid = "#=SalesId#", from = "allinvoice" }) + "' ><span class='k-button k-button-icontext k-grid-edit'>#=SalesId#</span></a>" +
            "# } #").Width(100);
            columns.ForeignKey(c => c.CusId, (System.Collections.IEnumerable)ViewData["Customer"], "CusId", "FullName").Title("Customer").Width(200);
            columns.Bound(c => c.TotalAmt).Width(130);
            //columns.Bound(c => c.DiscAmt).Width(130);
            columns.Bound(c => c.PaidAmt).Width(130);
            columns.Bound(c => c.BalAmt).Width(130);
            columns.ForeignKey(c => c.PaymentMethod, (System.Collections.IEnumerable)ViewData["PaymentType"], "TypeId", "TypeName").Width(150);
            columns.Bound(c => c.PaymentDate).Width(200);
            columns.Bound(c => c.OrderDate).Width(200);

            //columns.Bound(c => c.OrderDate).Title("Date");
            //columns.Bound(c => c.SalesId);
            //columns.Bound(c => c.TotalAmt);
            //columns.ForeignKey(c => c.PaymentMethod, (System.Collections.IEnumerable)ViewData["PaymentType"], "TypeId", "TypeName");
            //columns.Bound(c => c.Remarks);
            //columns.Bound(c => c.SalesId).Title("").ClientTemplate("<a href='" + @Url.Action("PreviewINV", "Sales", new { salesid = "#=SalesId#" }) + "' ><span class='k-button k-button-icontext k-grid-edit'>Preview</span></a>").Width(90);
        })
        .Sortable()
        .Pageable(pageable => pageable
        .Refresh(true).Messages(m => m.Refresh(string.Empty)))
        .DataSource(source => source
        .Ajax()
        .PageSize(10)
        .Events(events => events.Error("error_handler").Sync("sync_handler"))
        .Sort(sort => sort.Add("OrderDate").Descending())
        .Model(model =>
        {
            model.Id(tc => tc.SalesId);
            model.Field(item => item.SalesId).Editable(false);
        })
        .Read(read => read.Action("Read_SalesByCus", "Sales", new { cusId = ViewBag.CusId }))
        .Destroy(update => update.Action("Destroy", "Sales"))
        )
        .Resizable(resize => resize.Columns(true))
        .NoRecords("No Records Found")
    )

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

