@model Meo.Web.ViewModels.PaymentViewModels

@{
    ViewBag.Title = "Payment";
    var paymentType = ViewBag.PaymentType;
}

<head>
    @Styles.Render("~/Content/css")
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function calculateBalance() {
            var total = parseFloat(document.getElementById("TotalAmt").value) || 0;
            var discount = parseFloat(document.getElementById("DiscAmt").value) || 0;
            var paid = parseFloat(document.getElementById("PaidAmt").value) || 0;
            var balance = total - discount - paid;

            document.getElementById("BalAmt").value = balance.toFixed(2);
        }

        window.onload = function () {
            var paidAmtField = document.getElementById('PaidAmt');
            paidAmtField.focus();
            paidAmtField.select(); // This will highlight the content of the input
        };

        $(document).ready(function () {
            $("#updatePayment").bind("click", function () {
                var totalAmt = $("#TotalAmt").val();
                var paymethod = $("#PaymentMethod").val();

                if (totalAmt === 0) {
                    return alert("Nothing to process to payment.");
                }
                if (paymethod === "") {
                    return alert("Payment method is required.");
                }

                var paytype = $("#PaymentMethod").val();
                var ttlamt = parseFloat($("#TotalAmt").val()) || 0;
                var payamt = parseFloat($("#PaidAmt").val()) || 0;
                var discamt = parseFloat($("#DiscAmt").val()) || 0;
                var balamt = payamt - (ttlamt - discamt);

                $.ajax({
                    url: '@Url.Action("Update_Payment", "Sales")',
                    type: "POST",
                    data: {
                        CusId: @Model.CusId,
                        SalesId: "@Model.SalesId",
                        PaymentMethod: paytype,
                        IsGIRO: true,
                        TotalAmt: ttlamt,
                        PaidAmt: payamt,
                        DiscAmt: discamt,
                        BalAmt: balamt,
                    },
                    success: function (response) {
                        if (response.message != null) {
                            return alert(response.message);
                        }

                        $.ajax({
                            url: '@Url.Action("GIROReceipt", "GIROs")',
                            type: "POST",
                            data: {
                                salesId: response.SalesId,
                            },
                            success: function (res) {
                                window.close();
                                window.opener.location.href = '@Url.Action("GIROReceipt", "GIROs")' + '?salesId=' + response.SalesId;

                                var url = '@Url.Action("GIROReceipt", "Receipt")' + '?salesId=' + response.SalesId;
                                window.open(url, '_blank');
                                @*var url = '@Url.Action("Index", "Receipt")' + '?salesId=' + response.SalesId;*@

                            }
                        });
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="card px-0 pt-4 pb-0 mt-3 mb-3" style="text-align: center">
        <h2>Payment : @Model.SalesId</h2>
        <hr />
        @Html.HiddenFor(m => m.CusId)
        <table>
            <tbody>
                <tr>
                    <td>
                        @Html.Label("Date", new { @style = "width : 250px", @class = "control-label col-md-2" })
                        @*@Html.LabelFor(model => model.PaymentDate, new { @style = "width : 250px", @class = "control-label col-md-2" })*@
                    </td>
                    <td>
                        @Model.PaymentDate.ToShortDateString()
                        @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PaymentMethod, new { @style = "width : 250px", @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.PaymentMethod, new SelectList(paymentType, "TypeId", "TypeName"), "----- Select -----", new { @class = "form-control col-md-2", @style = "width : 200px;" })
                        @Html.ValidationMessageFor(model => model.PaymentMethod)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.TotalAmt, new { @style = "width : 250px", @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.TotalAmt, new { htmlAttributes = new { @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.TotalAmt)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Outstanding Amount", new { @style = "width : 250px", @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.BalAmt, new { htmlAttributes = new { @disabled = "disabled" } })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.PaidAmt, new { @style = "width : 250px", @class = "control-label col-md-2" })
                    </td>
                    <td>
                        @*<input type="text" value="@Model.PaidAmt" id="PaidAmt" placeholder="0.00" onchange="calculateBalance()" autofocus>*@

                        @Html.EditorFor(model => model.PaidAmt, new { htmlAttributes = new { @disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.PaidAmt)

                        @if (!string.IsNullOrEmpty(ViewBag.minPayAmount))
                        {
                            @ViewBag.minPayAmount
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <input type="button" value="CONFRIM" class="btn btn-success" id="updatePayment" style="width:200px" />
        <input type="button" value="CANCEL" class="btn btn-default" style="width:200px" onclick="window.opener=null; window.close(); return false;" />
    </div>
</body>
