@model Meo.Web.ViewModels.FocSalon

@{
    ViewBag.Title = "Foc";
    var index = 1;
    var Products = ViewBag.Products;
    var productsJson = Newtonsoft.Json.JsonConvert.SerializeObject(Products);
    var Employee = ViewBag.Employees;
    var employeeJson = Newtonsoft.Json.JsonConvert.SerializeObject(Employee);

    if (ViewBag.CusId != null)
    {
        Model.CusId = ViewBag.CusId;
    }
}

<head>
    <style>
        th, td {
            border-top: 1px solid #ddd;
            text-align: center;
        }

        legend {
            padding: 0.2em 0.5em;
            color: grey;
            font-size: 130%;
        }

        fieldset {
            border: 1px solid grey;
            padding: 1em;
            font: 100%/1 sans-serif;
        }

        label {
            float: left;
            width: 25%;
            margin-right: 0.5em;
            padding-top: 0.2em;
            text-align: right;
            font-weight: bold;
        }

        td {
            padding-left: 20px;
        }

        .k-upload .k-upload-button {
            min-width: 7.167em;
            margin-right: 0em;
        }

        .k-dropzone {
            border-style: solid;
            border-width: 0;
            padding: .2em;
            background-color: white;
        }

        .k-dropdown, .k-textbox {
            /*width: 100%;*/
            max-width: 100%;
            width: 28.4em;
        }

        .fontsize {
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="page-content">
        <div class="col-md-12 mx-0">
            <div align="right" style="width:100%">
                <input type="button" value="BACK" class="btn btn-default" id="close" style="width:100px" />
            </div>
            <br />

            @*// Sales Info*@
            <div class="sub-content" style="margin-top: 0px; padding-top: 20px">
                <div class="card px-0 pt-4 pb-0 mt-3 mb-3" style="text-align: center">
                    <h2><strong>Foc </strong></h2>
                </div>
                <hr style="height:1px;border-width:0;color:gray;background-color:gray; margin:0px">
                <br />
                @Html.AntiForgeryToken()
                <!-- Header -->
                <table>
                    <tr>
                        <td style="border-top:none; text-align:left; padding:3px">
                            <strong>Customer Name </strong>
                        </td>
                        <td style="border-top:none; text-align:left; padding:3px">
                            :
                            @*@if (Model.Id > 0)
                                {
                                    @ViewData["CustomerName"].ToString();
                                    <input id="CusId" type="text" value="@Model.CusId" style="display:none; width:100%" />
                                }
                                else
                                {*@
                            @(Html.Kendo().DropDownListFor(model => model.CusId)
                                    .BindTo((System.Collections.IEnumerable)ViewData["Customer"])
                                    .DataTextField("FullName").DataValueField("CusId")
                                    .OptionLabel(" -- Select Customer -- ")
                                    .Filter(FilterType.Contains)
                                    .HtmlAttributes("width: 450px"))
                            @Html.ValidationMessageFor(model => model.CusId, "", new { @class = "text-danger" })
                            @* } *@
                        </td>
                    </tr>
                    <tr>
                        <td style="border-top: none; text-align: left; padding: 3px"><strong>Date </strong></td>
                        <td style="border-top: none; text-align: left; padding: 3px">: @Model.AddDate.ToShortDateString() </td>
                    </tr>
                </table>

                <br />
                <!-- Body [Sales Item] -->
                <table id="tblSalesItem" style="width:100%">
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Unit Price
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Sales By
                        </th>
                        @if (Model.Id == 0)
                        {
                            <th>
                                Action
                            </th>
                        }
                    </tr>
                    @if (Model.FocDetails != null && Model.FocDetails.Any())
                    {
                        foreach (var item in Model.FocDetails)
                        {
                            <tr>
                                <td class="detailsid" style="display:none"><span>@item.Id</span></td>
                                <td style="width:5%">@index</td>
                                <td style="width:20%; text-align:left">
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td class="quantity" style="width:5%">
                                    @if (Model.CusId == 0)
                                    {
                                        <span>@item.Qty</span>
                                        <input type="text" value="@item.Qty" style="display:none; width:100%" />
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Qty)
                                    }
                                </td>
                                <td class="unitprice" style="width:10%">
                                    <span>@item.UnitPrice</span>
                                </td>
                                <td class="linetotal" style="width:10%">
                                    <span>@item.LineTotal</span>
                                </td>
                                <td style="width:10%">
                                    <span>@item.EmpName</span>
                                </td>
                                @if (Model.Id == 0)
                                {
                                    <td style="text-align:center; width:10%">
                                        <a class="Delete" href="javascript:;"><img src="~/Images/dustbin.png" style="width:25px" /></a>
                                    </td>
                                }
                            </tr>

                            index++;
                        }
                    }
                    else
                    {
                        <tr><td colspan="8">No sales details available.</td></tr>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td><strong>@*@Model.totalQty*@</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        @if (Model.Id == 0)
                        {
                            <td></td>
                        }
                    </tr>
                </table>
                <br />
                <div style="float:right; padding-top:100px">
                    <input type="button" value="CONFIRM" onclick="ShowModelPopUp();" class="btn btn-success fontsize" style="width:250px; height:100px; float:right" />
                    <!-- Button -->
                    @*<input type="button" value="CONFIRM" onclick="openPasscodeModal();"
                        class="btn btn-success fontsize"
                        style="width:250px; height:100px; float:right" />*@
                </div>
                <table id="Addtable">
                    <tr>
                        <td style="text-align: left;">Product</td>
                        <td class="Product" style="text-align: left;">
                            @(Html.Kendo().DropDownList()
                                .Name("Products")
                                .HtmlAttributes(new { id = "ProductDropdown", @class = "form-control col-md-2", style = "width: 450px;" })
                                .BindTo((System.Collections.IEnumerable)ViewData["Products"])
                                .DataTextField("ProductName")
                                .DataValueField("ProductId")
                                .OptionLabel(" -- Select Products -- ")
                                .Filter(FilterType.Contains))
                            @*@Html.DropDownList("Products", new SelectList(Products, "ProductId", "ProductName"), "----- Select -----", new { @class = "form-control col-md-2", @style = "width : 100%;" })*@
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Qty</td>
                        <td>
                            <input type="number" id="Qty" placeholder="0" style="width: 100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Unit Price</td>
                        <td>
                            <input type="number" id="UnitPrice" placeholder="0.00" style="width: 100%" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Sales Person</td>
                        <td>
                            @Html.DropDownList("SalesPerson", new SelectList(Employee, "EmpNo", "DisplayName"), "----- Select -----", new { @class = "form-control col-md-2", @style = "width : 100%;" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:right">
                            <a class="Add" href="javascript:;"><img src="~/Images/cart.png" style="width: 30px" /></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <!--<div id="passcodeModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content p-3">
                <h5 class="mb-2">Enter Passcode</h5>
                <input type="password" id="passcodeInput" class="form-control mb-3" />
                <button class="btn btn-primary w-100" onclick="checkPasscode()">Submit</button>
            </div>
        </div>
    </div>-->
</body>

<script type="text/javascript">
    $(document).ready(function () {
        // Get a reference to the dropdown element
        var productDropdown = $("#ProductDropdown").data("kendoDropDownList");//.dataSource.options.data;

        if (productDropdown) {
            productDropdown.bind("change", function (e) {

                var selectedValue = this.value();
                var products = @Html.Raw(Json.Encode(ViewData["Products"]));

                var selectedProduct = products.find(function(product) {
                    return product.ProductId == selectedValue;
                });

                var qtyInput = document.getElementById("Qty"); // Change to the correct ID of your Qty input
                var unitPriceInput = document.getElementById("UnitPrice"); // Change to the correct ID of your UnitPrice input

                if (qtyInput && unitPriceInput) {
                    if (selectedProduct) {
                        // Set the "Qty" input value to 1
                        qtyInput.value = "1";

                        // Set the "UnitPrice" input value to the unit price of the selected product
                        unitPriceInput.value = selectedProduct.Price.toFixed(2);
                    }
                    else {
                        unitPriceInput.value = "";
                    }
                }
                else {
                    console.error("QtyInput or UnitPriceInput element not found.");
                }

                console.log("Selected Product: " + selectedValue);
            });
        } else {
            console.error("Kendo DropDownList not found on #ProductDropdown");
        }
    });

    function ShowModelPopUp() {
        var cusid = document.getElementById("CusId").value;

        if (cusid == "")
            return window.alert("Please select Customer.");

        if (@Model.totalQty == 0) {
            return window.alert("Nothing to process to payment.");
        }

        var passcode = prompt("Enter Passcode:");
        if (!passcode) return;

        if (passcode === "1234") { // replace with your passcode logic
            $.ajax({
            url: '@Url.Action("ConfirmationFoc", "Stock")',
            type: "POST",
            data: {
                cusid: @Model.CusId,
            },
                success: function (response) {
                    if (response.error) {
                        alert("\nFailed to Insert! \n" + response.messages);
                        return;
                    }

                    alert("Access Granted ✅");

                    var basePath = window.location.pathname.includes('/BeYou') ? '/BeYou/Stock/PreviewFOC' : '/Stock/PreviewFOC';
                    window.location.href = basePath + '?id=' + response.data.Id;

                    @*window.location.href = '@Url.Action("PreviewFOC", "Stock")' + '?id=' + response.data.Id;*@
                },
                error: function () {
                    alert("⚠️ Something went wrong, please try again.");
                }
            });
        } else {
            alert("❌ Invalid Passcode");
        }
    }

    function MyPopUpWin(url, width, height) {
        var leftPosition, topPosition;
        //Allow for borders.
        leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
        //Allow for title and status bars.
        topPosition = (window.screen.height / 2) - ((height / 2) + 50);
        //Open the window.
        window.open(url, "Window2",
            "status=no,height=" + height + ",width=" + width + ",resizable=yes,left="
            + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY="
            + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
    }

    $("#close").click(function () {
        window.history.back();
        @* window.open('@Url.Action("SalesByCus", "Sales", new { id = Model.CusId })', "_self");*@
                });

    //Add event handler.
    $("body").on("click", "#Addtable .Add", function () {
        var productDropdown = $("#ProductDropdown").data("kendoDropDownList");
        var qtyInput = document.getElementById("Qty");
        var unitPriceInput = document.getElementById("UnitPrice");
        var salesPerson = document.getElementById("SalesPerson"); // Assuming you have an element with ID 'SalesPerson'
        var cusId = document.getElementById("CusId").value;
        var selectedValue = parseInt(productDropdown.value());

        if (productDropdown.value === "" || selectedValue.toString() === "NaN") {
            return alert("Nothing to add.");
        }

        // Get the selected value
        var products = @Html.Raw(Json.Encode(ViewData["Products"]));
        var selectedProduct = products.find(function (product) {
            return product.ProductId === selectedValue;
        });

        var orig_unitprice = parseFloat(selectedProduct.Price).toFixed(2);
        var unitprice = parseFloat(unitPriceInput.value).toFixed(2);
        var qty = parseInt(qtyInput.value);
        var total = qty * unitprice;

        debugger;
        if (selectedProduct.QtyAvailable < qty && selectedProduct.TypeName == "Product") {
            return alert("\nFailed to Insert! \n" + selectedProduct.ProductName + " insufficient stock.");
        }


        $.ajax({
            url: '@Url.Action("AddFocProduct", "Stock")',
            type: "POST",
            data: {
                pid: selectedValue,
                qty: qty,
                price: orig_unitprice,
                total: total,
                empno: salesPerson.value,
                cusid: cusId,
            },
            success: function (response) {
                if (response.error) {
                    alert("\nFailed to Insert! \n" + response.message);
                }
            },
        });
    });

    //Delete event handler.
    $("body").on("click", "#tblSalesItem .Delete", function () {
        if (confirm("Do you want to delete this item?")) {
            var row = $(this).closest("tr");
            var detailsid = row.find(".detailsid").find("span").html();
            detailsid = parseInt(detailsid);

            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteForProduct", "Stock")',
                data: {
                    detailsid: detailsid,
                },
                success: function (response) {
                    window.location.reload();
                }
            });
        }
    });
</script>
