@using Meo.Web.ViewModels
@using Kendo.Mvc.UI

<div>
    @(Html.Kendo().Grid<PackageDetailsViewModels>()
        .Name("GridForPackageDetails")
         .HtmlAttributes("100%")
        .Columns(columns =>
        {
            columns.ForeignKey(c => c.ItemId, (System.Collections.IEnumerable)ViewData["Product"], "ProductId", "ProductName").Title("Product").Width("15%");
            columns.ForeignKey(c => c.ItemType, (System.Collections.IEnumerable)ViewData["Type"], "TypeId", "TypeName").Title("Type").Width("10%");
            columns.Bound(c => c.Qty).Width("8%");
            columns.Bound(c => c.Cost).Width("8%");
            columns.Bound(c => c.TotalCost).Width("10%");
            columns.Bound(c => c.Remarks);
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
        })
        .Pageable(pageable => pageable
        .Refresh(true).Messages(m => m.Refresh(string.Empty)))
        .Events(e => e.Edit("onRequest"))
        .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("PackageDetailsEditor").AdditionalViewData(new { packageId = ViewBag.packageId }))
        .ToolBar(toolbar => toolbar.Template("<a id='Create' class='k-button k-button-icontext k-grid-add' href='#'> + Create New </a>"))
        //.ToolBar(toolbar =>
        //{
        //    toolbar.Template("<a id='Create' class='k-button k-button-icontext k-add' href='" + @Url.Action("CreateDetails", "Package", new { packageId = ViewBag.packageId }) + "'style='float:right'> + Create New </a>");
        //})
        .Sortable()
        .DataSource(source => source
        .Ajax()
        .PageSize(10)
        .Events(events => events.Error("error_handler").Sync("sync_handler").RequestEnd("onRequestEnd"))
        .ServerOperation(true)
        .Read(read => read.Action("Read_PackageDetails", "Package", new { packageId = ViewBag.packageId }))
        .Create(update => update.Action("Create_PackageDetails", "Package").Data("addAdditionalData"))
        .Update(update => update.Action("Update_PackageDetails", "Package"))
        .Destroy(update => update.Action("Destroy_PackageDetails", "Package"))
        .Model(model =>
        {
            model.Id(e => e.Id);
        })
        ).NoRecords("No Records Found")
    )
</div>

<span id="notification" style="display:none;"></span>

@* Error msg to be shown & sync grid table automatically *@
<script type="text/javascript">
    function addAdditionalData() {
    return {
        packageId: "@ViewBag.PackageId"
    };
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

    function sync_handler(e) {
        this.read();
    }

      $(".close-button").click(function () {
            window.open('@Url.Action("AllPackage", "Package")', "_self");
      });

    @*$(".close-button").click(function () {
        window.open('@Url.Action("Index", "Home")', "_self");
        //window.close(); // close window
    });*@

    // --- collapse all group grid ---
    var collapseAllGroups = function (grid) {
        grid.table.find(".k-grouping-row").each(function () {
            grid.collapseGroup(this);
        });
    }

    //On the grid
    function dataBound() {
        collapseAllGroups(this);
    }

    @* Set window header *@
    function onRequest(e) {
        $(".k-window-title").text("Package Details Editor");
        $('.k-widget.k-window .k-window-titlebar').css({
            'background-color': 'white'
        });
        $('.k-header').css({
            'border-color': 'white'
        });

     @* Auto Focus on selected field *@
        var arg = e;
        arg.container.data('kendoWindow').bind('activate', function () {
            arg.container.find("input[name='ItemId']").focus();
        })

        var packageId = @ViewBag.PackageId;
        e.container.find("#PackageId").val(packageId);
    }

    function onRequestEnd(e) {
        var notificationWidget = $("#notification").kendoNotification(
            {
                position: {
                    pinned: true,
                    top: 100,
                    right: 50
                },
            }).data("kendoNotification");

        if (e.type == "create" && !e.response.Errors) {
            notificationWidget.show("New Record created!", "success");
        } else if (e.type == "update" && !e.response.Errors) {
            notificationWidget.show("Update Successfully", "success");
            // Delay the page reload by 3 seconds
            setTimeout(function () {
                location.reload();
            }, 1000); // 3000 milliseconds = 3 seconds
        } else if (e.response.Errors) {
            notificationWidget.show("Fail to update", "warning");
        }
    }
</script>
